/*html{
height:100%;
background:-moz-linear-gradient(top,#ffffff,#0382ad);
background:-webkit-linear-gradient(top,#ffffff,#0382ad);
background:-o-linear-gradient(top,#ffffff,#0382ad);
background:-ms-linear-gradient(top,#ffffff,#0382ad);
background:linear-gradient(top,#ffffff,#0382ad);
font: bold SAE_Font_MicroHei;
}*/
html{
height:100%;
background: #cfe7fa;
background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1));
background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%);
background: -o-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%);
background: -ms-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%);
background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 );
}
.text{
width:950px;
margin:0 auto;
background:-webkit-linear-gradient(top,#ffffff,#000000);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
font: bold 95px/1.231 Helvetica, Arial, FreeSans, san-serif;
text-transform:uppercase;
}
.awesome{
background: #222 repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
font-weight: bold;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
text-shadow: 0 -1px 1px #222;
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
}
.blue.awesome {
	background-color: #2daebf;
}
.magenta.awesome {
	background-color: #a9014b;
}
.button{
font: bold Helvetica;
color: rgb(217, 255, 230);
font-size: 20px;
padding: 4px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
background: rgb(191, 140, 161);
background: -moz-linear-gradient(90deg, rgb(191, 140, 161) 28%, rgb(240, 133, 143) 76%);
background: -webkit-linear-gradient(90deg, rgb(191, 140, 161) 28%, rgb(240, 133, 143) 76%);
background: -o-linear-gradient(90deg, rgb(191, 140, 161) 28%, rgb(240, 133, 143) 76%);
background: -ms-linear-gradient(90deg, rgb(191, 140, 161) 28%, rgb(240, 133, 143) 76%);
background: linear-gradient(0deg, rgb(191, 140, 161) 28%, rgb(240, 133, 143) 76%);
-webkit-box-shadow: 0px 8px 30px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 8px 30px rgba(50, 50, 50, 0.75);
box-shadow:         0px 8px 30px rgba(50, 50, 50, 0.75);
}
.leave{
-webkit-box-shadow: 5px 5px 25px rgba(99, 34, 50, 1);
-moz-box-shadow:    5px 5px 25px rgba(99, 34, 50, 1);
box-shadow:         5px 5px 25px rgba(99, 34, 50, 1);
}
input{
	text-shadow: 3px 3px 8px rgba(59, 105, 110, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 4px;
}
.shadow{
	text-shadow: 3px 3px 8px rgba(59, 105, 110, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div#content{height:200px;width:400px;float:left;}
div#button{height:20px;width:40px;float:left;}
div#footer{
margin:0 auto;
background:-webkit-linear-gradient(top,#fff,#000);
-webkit-background-clip:text;
font: Helvetica, Arial, FreeSans, san-serif;
text-transform:uppercase;
text-align:center;
}

